body {
  margin: 0;
  
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
  /* overflow: hidden; */
}

/* body { cursor: none; } */
canvas { border: 1px solid #ccc }

#canvas2 { display: none ;}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.btn {
  margin-top: 24px;
  background: none;
  border: 1px solid #008fff;
  padding: 20px;
  color: #008fff;
}

.colorbtn {
  width: 50px;
  height: 50px;
  border-radius: 200px;
  border: none;
}

#red {
  background-color: #fc0b03;
}

#pink {
  background-color: #fc0380;
}

#yellow {
  background-color: #fcce03;;
}

#green{
  background-color:#90d615;
}

#blue {
  background-color: #15b6d6;
}

#deepblue {
  background-color: #1515d6;
}